p {
  font-size: 16px;
  font-style: normal;
  color: red;
  font-family: sans-serif;

}
h1 {
  font-family: sans-serif;
  color: darkturquoise;
}
a {
  color: darkturquoise;
  font-family: sans-serif;
}
a:visited {
  color: teal;
}
